.bubble {
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 0.5rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 2px solid var(--main-text-color);
    color: var(--main-text-color);
}

.bubble.ext-link-risk {
    border: 2px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
}

.bubble.ext-link-risk:hover {
    border: 2px solid var(--main-text-color);
    color: var(--main-text-color);
}

.bubble.search-error {
    border: 2px solid var(--error-color);
    color: var(--error-color);
}

.bubble-message {
    flex-grow: 1;
    text-align: center;
    overflow-wrap: anywhere;
}

.bubble svg {
    margin: 0 2rem;
    font-size: 1.8rem;
    vertical-align: middle;
    flex-grow: 0;
}
