.site-header {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    color: var(--header-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 4rem;
}

.site-header p {
    margin: 0;
}

.site-title-row h1 {
    display: none;
}

.site-title-row .logo {
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
}

.site-title-row .logo img {
    width: 360px;
    height: auto;
    vertical-align: middle;
}

.site-header .nav-wrapper {
    display: flex;
    flex-direction: row;
}

.site-header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 1rem 0 0;
}

.site-header nav li {
    list-style-type: none;
    margin: 0.5rem 0.75rem;
    white-space: nowrap;
}

.site-header nav li:last-child {
    margin-right: 0;
}

.site-header nav a,
.site-header nav a:visited {
    color: var(--nav-link-color-desktop);
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2rem;
}

.site-header nav a:hover,
.site-header nav a:active {
    color: var(--nav-link-hover-color-desktop);
}

.menu-toggle {
    display: none;
}

@media all and (min-width: 1000px) {
    .menu-toggle {
        display: none !important;
    }
}

@media all and (max-width: 999px) {
    .site-header {
        position: relative;
    }

    .site-title-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .site-title-row .logo img {
        width: 240px;
        height: auto;
    }

    .nav-wrapper .header-controls {
        color: var(--header-text-color);
        fill: var(--header-text-color);
        border-radius: 10px;
        border: 3px solid var(--header-text-color);
    }

    .nav-wrapper.expanded .header-controls {
        color: var(--nav-link-color-mobile);
        fill: var(--nav-link-color-mobile);
        background-color: var(--nav-background-color);
        border: 3px solid var(--nav-background-color);
        border-radius: 20px 20px 0 0; /* match nav border-radius */
    }

    .menu-toggle {
        display: initial;
        font-size: 2.6rem;
        line-height: 2.6rem;
        cursor: pointer;
        line-height: 4rem; /* match header line-height */
        padding: 0 1rem;
    }

    .menu-toggle svg {
        display: inline-block;
        line-height: 4rem; /* match header line-height */
        border-radius: 3px;
        vertical-align: middle;
    }

    .site-header nav {
        position: absolute;
        top: calc(100% - 2rem);
        right: 0;
        padding: 1rem;
        z-index: 1;
        text-align: right;
        border-radius: 20px 0 20px 20px;
        background-color: var(--nav-background-color);
        display: none;
    }
   
    .site-header .nav-wrapper.expanded nav {
        display: block;
    }
 
    .site-header nav ul {
        flex-direction: column;
        margin-right: 0;
        padding-right: 0;
    }

    .site-header nav li {
        margin-right: 0;
        line-height: 1rem;
    }

    .site-header nav a,
    .site-header nav a.visited {
        color: var(--nav-link-color-mobile) !important;
    }

    .site-header nav li a:hover,
    .site-header nav li a.active {
        color: var(--nav-link-hover-color-mobile) !important;
    }

    .site-header nav .lidivider {
        display: none;
    }
}