.site-header {
    margin: 0;
    padding: 1rem 1rem;
    text-align: center;
    width: 100%;
    color: rgb(30, 30, 30);
    background-color: var(--header-background-color);
}

.site-header * {
    color: var(--header-text-color);
}

.site-header p {
    margin: 0;
}

.site-title-row h1 {
    display: none;
}

.site-title-row .logo {
    margin: 0;
    padding: 0;
    height: 160px;
    margin: 0.5rem;
}

.site-title-row .logo img {
    width: 160px;
}

.site-header nav {
    background-color: var(--header-background-color);
}

.site-header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}

.site-header nav li {
    list-style-type: none;
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    white-space: nowrap;
}

.site-header nav a,
.site-header nav a:visited {
  text-decoration: none;
  color: var(--header-text-color);
}

.site-header nav a:active,
.site-header nav a:hover {
  text-decoration: underline;
  color: var(--header-text-color);
}

.menu-toggle {
    display: none;
}

@media all and (max-width: 899px) {
    .site-header {
        position: relative;
    }

    .site-title-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .site-title-row .logo {
        margin: 0;
        padding: 0;
        height: 80px;
        margin: 0;
    }
    
    .site-title-row .logo img {
        width: 80px;
    }

    .menu-toggle {
        display: initial;
        font-size: 2.6rem;
        line-height: 2.6rem;
        cursor: pointer;
    }

    .menu-toggle svg {
        border-radius: 3px;
        vertical-align: middle;
    }

    .site-header nav {
        padding: 1rem;
        z-index: 1;
        text-align: right;
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 0 0 0 20px;
    }
    
    .site-header nav.collapsed {
        display: none;
    }

    .site-header nav ul {
        flex-direction: column;
    }

    .site-header nav li {
        margin-right: 0;
    }

    .site-header nav .lidivider {
        display: none;
    }
}